
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alertBox {
  background-color: #8A2BE2; /* Violeta */
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  width: 400px;
}

.message {
  color: white; /* Texto blanco */
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.details {
  color: white; /* Texto blanco */
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 8px;
}

.closeButton {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000; /* Fondo negro */
  color: #FFFFFF; /* Letras blancas */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.closeButton:hover {
  background-color: #333333; /* Un poco más claro al pasar el mouse */
}
