
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.loginBox {
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 450px; /* Aumentar un poco el ancho */
}

.orgTitle {
  font-size: 1.5rem; /* Tamaño grande para el nombre de la asociación */
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #000000; /* Un gris más suave */
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 1rem;
}

.title {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #000000;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #8A2BE2; /* Violeta */
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #7b24c6; /* Violeta más oscuro */
}
